@import url("https://fonts.googleapis.com/css?family=Barlow&display=swap");
@import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap');

/*

Así se escriben los comentario en CSS.
Siempre se abren con slash asterisco, y
se cierran con asterisco slash.

*/

*{
    margin:0;
    padding:0;
}

body{
    font-family:'Barlow', sans-serif;
    font-weight:400;
    color:#373737;
    background-color:#f8fdff; /*el primer par es R, segundo es G y tercero es B*/
}

h1{
    font-family:'Noto serif', serif;
    color:#202020; /* lo básico, para evitar problemas */
    /*color:rgba(32,32,32,1); */
    text-align:center;
    letter-spacing:0.1em;
    font-weight:700;
}
h2{
    font-family:'Noto serif', sans-serif;
    color:#202020; /* lo básico, para evitar problemas */
    /*color:rgba(32,32,32,1);  */
    text-align:center;
    letter-spacing:0.1em;
    font-weight:200;
}

h1{
    font-size:5rem;
}

h2{
    font-size:1.5rem;
    letter-spacing:0.3rem;
}

@media screen and (max-width: 768px){
    h1{ font-size:2.25rem; }
    h2{ font-size:1.5rem; }
}

@media screen and (max-width: 576px){
    h1{ font-size:1.5rem; }
    h2{ font-size:1rem; }
}

@media screen and (max-width: 320px){
    h1{ font-size:1rem; }
    h2{ font-size:0.5rem; }
}
h3{
  background-color:#f8fdff;
}

h3{
  font-family:'Barlow', sans-serif;
  display:flex;
  justify-content: center;
  padding:5% 0% 2% 1%;
  color:#202020;
  font-size:1.5rem;
  letter-spacing:0.1em;
}

a{
    color:#54568e;
    text-decoration:none;
}

a:hover{
    color:#b4b2f2;
    text-decoration:underline;
}

header{
    width:100%;
    top:0%;
    position:fixed;
    text-align:center;
    z-index:-30;
}

@media screen and (orientation: portrait){
    header{ top:0%; }
}

video{
    width:98%;
    padding:30% 1% 0% 1%;
    height:auto;
}
@media screen and (max-width: 768px){
    video {padding:50% 1% 0% 1%}
}
@media screen and (max-width: 576px){
    video{padding:60% 1% 0% 1%}
}

main{
    width:100%;
}

/*
Puedes revisar detalles sobre el siguiente uso de flex
en https://www.taniarascia.com/easiest-flex-grid-ever/
*/

#equipo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color:#fff /* lo mismo que #FFFFFF, simplificando pares iguales*/;
    color:rgba(255,255,255,1);
}

#equipo a{
    color:rgba(255,255,255,.7);
}

#equipo a:hover{
    color:rgba(255,255,255,.9);
}

.integrante {
    flex-basis: 100%;
}

.integrante:hover {
    cursor:crosshair;
}

@media screen and (orientation: landscape){
    .integrante { flex:1; }
}

.integrante h4{
    padding: 2rem 0.1rem 0.25rem 2rem;
}

.integrante address{
    padding: 0.25rem 2rem;
    font-size:0.9em;
    font-style:normal;
}

.integrante blockquote{
    padding: 6rem 0.1rem 0.25rem 2rem;
}

@media screen and (orientation: landscape){
    .integrante blockquote{
        padding: 6rem 0.1rem 0.25rem 2rem;
        max-width:50%;
    }
}

.integrante blockquote cite {
    display:block;
    font-style: normal;
    font-weight: 700;
    font-size:.8rem;
    letter-spacing : 0.1rem;
    padding-top:0.25rem;
    color:#fff;
}

.integrante blockquote cite:before {
    content:"— ";
}

.integrante:nth-of-type(1){
    background-color:#54568e;
    background-image:url('media/integrante-1a.png');
    background-position: bottom right;
    background-size:auto 90%;
    background-repeat: no-repeat;
}


.integrante:nth-of-type(2){
    background:#54568e;
    background-image:url('media/integrante-2a.png');
    background-position: bottom right;
    background-size:auto 90%;
    background-repeat: no-repeat;
}

.integrante:nth-of-type(3){
    background:#54568e;
    background-image:url('media/integrante-3a.png');
    background-position: bottom right;
    background-size:auto 90%;
    background-repeat: no-repeat;
}

.integrante:nth-of-type(1):hover{
    background-color:#bdbac1;
    background-image:url('media/integrante-1b.png');
    background-position: bottom right;
    background-size:auto 90%;
    background-repeat: no-repeat;
}

.integrante:nth-of-type(2):hover{
    background:#c5cae9;
    background-image:url('media/integrante-2b.png');
    background-position: bottom right;
    background-size:auto 90%;
    background-repeat: no-repeat;
}

.integrante:nth-of-type(3):hover{
    background:#9499b7;
    background-image:url('media/integrante-3b.png');
    background-position: bottom right;
    background-size:auto 90%;
    background-repeat: no-repeat;
}

/*

AHORA VAMOS POR PORTAFOLIO

*/

#portafolio{
    width:100%;
    padding:.25% 0;
    background:#f8fdff;
}

.item {
    width:23%;
    margin:1%;
    color:#181b3f;
    background:#eee;
    box-shadow:0 0 5px rgba(0,0,0,.5);
}

@media screen and (max-width: 768px){
    .item{
        width:48%;
        margin:1%;
        background:#eee;
        color:#181b3f;
    }
}
 @media screen and (max-width: 576px){
     .item{
         width:96%;
         margin:2%;
         background:#eee;
         color:#181b3f;
    }
}
 .item:hover{
     cursor:crosshair;
}
 .item figure{
     overflow:hidden;
}
 .item figure img{
     width:100%;
     height:auto;
     margin-bottom:-4px;
     filter: grayscale(0);
}
 .item:hover figure img{
     transform:scale(2);
     filter: grayscale(0);
     transition:all ease-out 1s;
}
 .item h4{
     font-size:1em;
     letter-spacing:0.025em;
     margin:5% 5% 3% 5%;
}
 .item p{
     font-size:0.875em;
     letter-spacing:0.05em;
     margin:2% 5% 6% 5%;
}
 footer{
     width:100%;
     padding:2.5em 0 2em 0;
     text-align:center;
}
 footer p{
     text-transform:uppercase;
     letter-spacing:0.1em;
     font-size:0.9em;
}
